.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.ad, .loading-map {
  padding-top: 60px;
  font-family: 'Denk One', sans-serif;                                             
  font-size: 35px;
}

.add-pin-title, .pin-info-title, .offcanvas-title {
  font-family: 'Denk One', sans-serif;
}

.nav-header-link {
  font-size: 20px;
}

.user-greeting {
  font-size: 20px;
  color: #fff;
  margin-left: 30px;
}

.video-responsive {
  overflow: hidden;
}

.video-responsive iframe {
  left: 0;
  top: 0;
}

@media (max-width: 1280px) {
  .video-responsive {
   display: none;
  }
  .alternate-video {
    display: block;
  }
}

.vid-logo {
  height: 400px;
  margin-bottom: 10px;
}

/* Header icon */
.bustinLogo {
  width: 150px;
}

.glow-text {
  text-shadow: 0 0 20px rgba(12, 214, 255, 1);
}

.navbar-brand {
  /* Styling for the text */
  font-family: 'Adamina', serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

#navbar{
  font-size: 30px;
}

.p-3 {
  font-size: 20px;
}

.leaflet-container {
  height: 100vh;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pin-card-btn {
  margin-top: 10px;
}

.cancel-btn {
  margin-left: 10px;
}

modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

/* .pin-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
} */


/* Add Pin Form Styling */

/* Add these styles to make the form appear like a card */

.mb-3 {
  padding-top: 5%;
}

